{% extends "base.twig" %}
{% block content %}
        <div class="container" class="index_c">
            <div class="index_m">
                <div class="row">
                    <div class="col-md-6">
                        <h1>{{ WELCOME_TO }} {{ site_name }} </h1>
                        <aside>
                            {{SITE_DESCRIPTION}}
                        </aside>
                    </div>
                    <div class="col-md-6" class="webM">
                        <img class="img-fluid" src="images/edrsvc_com.jpg" alt="Webseite">
                    </div>
                </div>
                <div class="row indexRow">
                    <div class="col-md-4">
                        <i class="fa fa-camera-retro" aria-hidden="true"></i>
                        <h3>
                            {{NO_OBSTACLES}}
                        </h3>
                        <p>
                            {{SIMPLY_REGISTER}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-rss" aria-hidden="true"></i>
                        <h3>
                            {{ALWAYS_LATEST}}
                        </h3>
                        <p>
                            {{ACCESIBILITY}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-tag" aria-hidden="true"></i>
                        <h3>
                            {{CLEAN}}
                        </h3>
                        <p>
                            {{DEVELOPED_TO}}
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /container -->
{% endblock %}