{% extends "base.twig" %}
{% block head %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}
        <div class="container" class="index_c">
            <div class="index_m">
                <div class="row">
                    <div class="col-md-6 center-col">
                        <h1>{{REGISTER_ON}} {{ site_name }}</h1>
                        <aside>
                            {{SITE_DESCRIPTION}}
                        </aside>
                        <form class="popForm register-form" method="post" id="register-form">
                            <div id="error" style="color: red;">
                            </div>
                            <fieldset class="form-group">
                                <label for="regInputEmail">{{ENTER_EMAIL}}*</label>
                                <input type="email" class="form-control" id="regInputEmail" autocomplete="email" name="regInputEmail" 
                                       placeholder="Enter email">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="regInputPWD">{{ENTER_PASS}}*</label>
                                <input type="password" class="form-control" autocomplete="new-password" id="regInputPWD" name="regInputPWD"
                                       placeholder="Password">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="regInputPWD_re">{{RETYPE_PASS}}*</label>
                                <input type="password" class="form-control" id="regInputPWD_re" name="regInputPWD_re" 
                                       placeholder="Password">
                            </fieldset>
                            <fieldset class="form-group">
                                <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
                                <div class="g-recaptcha" data-sitekey="6LcK5CQTAAAAAJgo6zdl9eVyBljWpCBxdCWL6ck4"></div>
                            </fieldset>
                            <fieldset class="form-group">
                                <button type="button" class="submit" name="submit" value="register" id="registerBTN">
                                    {{BTN_REGISTER}}
                                </button> 
                            </fieldset>
                        </form>
                        <small>
                            *{{REQUIRED_FIELDS}}<br>{{REGISTER_INFORMATION}}
                        </small>
                    </div>
                </div>
            </div>
        </div><!-- /container -->
{% endblock %}