{% extends "base.twig" %}
{% block content %}
        <div class="container" class="index_c">
            <div class="index_m">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{LOGIN_TO}} {{ site_name }} </h1>
                        <aside>
                            {{SITE_DESCRIPTION}}
                        </aside>
                        <form class="login-form" method="post" id="login-form">
                            <div id="error">
                                
                            </div>
                            <fieldset class="form-group">
                                <label for="loginInputEmail">{{ENTER_EMAIL}}*</label>
                                <input type="email" class="form-control" id="loginInputEmail" name="loginInputEmail" 
                                       placeholder="Enter email">
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="loginInputPWD">{{ENTER_PASS}}*</label>
                                <input type="password" class="form-control" id="loginInputPWD" name="loginInputPWD" 
                                       placeholder="Password">
                            </fieldset>
                            <fieldset class="form-group">
                                <button type="button" class="submit" name="submit" value="login" id="loginBTN">
                                    {{BTN_LOGIN}}
                                </button> 
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}